@import '@mantine/core/styles.css';
@import 'mantine-datatable/styles.css';
@import '@mantine/dates/styles.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer mantine, mantine-datatable;

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9e9e70;
  border-radius: 8px;
}
