@import '@mantine/core/styles.css';
@import 'mantine-datatable/styles.css';
@import '@mantine/dates/styles.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer mantine, mantine-datatable;

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for the scrollbar of sidebar in overview page*/
::-webkit-scrollbar {
  width: 0px;
}
